<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pomodoro</title>
    <script src = "https://cdn.tailwindcss.com"></script>

    <link href="../static/styles.css" rel="stylesheet">
  </head>
  <body class = "bg-gradient-to-t from-[#abeff5] to-[#094A98] h-screen">

    <header class="bg-white">
      <nav class="">
        <div>
          
          <a href="#">
            <h1 class="brand">Pomodoro</h1>
          </a>

          <ul>
            <li>
              <a href="#">Profile</a> 
            </li>

            <li>
              <a href="#">Music</a> 
            </li>

            <li>
              <a href="#">Settings</a> 
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </body>
</html>