{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block main %}
<p id = "demo"></p>
<p id = "timer"class ="timer"></p>


{% endblock %}

{% block javascript %}
<script>
	const min = document.getElementById("timer");
	const focusMinutes = 1;
	// converting minutes into seconds
	let time = (60 * focusMinutes);
	var CountDown = setInterval(function displayTimer() {

		//getting mins from the total_seconds(time) - Calculating every second
		const minute = Math.floor(time / 60);

		//modulus of 60
		let seconds = time % 60;
		if (seconds < 10)
		{
			seconds = '0' + seconds;
		}

		timer.innerHTML = minute + ":" + seconds;
		time--;

		if (time == 0);
		{
			clearInterval();

		}
		}, 1000);


	</script>

{% endblock %}
